{% include 'agent_header.html'%}
		<div class="container">
		   <div class="banner-text">
		   	  <section class="cd-intro">
<form method="post">
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>Amount</th>
			<td><input type="text" required="" class="form-control" name="amount"></td>
		</tr>
		<tr>
			<td><input type="submit" class="btn btn-success" name="buy"></td>
		</tr>
	</table>
</form>
</section> 
		
			<!-- <div class="agileits_w3layouts_call_mail">
					<ul>
						<li><i class="fa fa-phone" aria-hidden="true"></i>(+000) 123 456 78</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:maria@example.com">info@example.com</a></li>
					</ul>
			</div> -->
			<!-- <div class="banner-icons-agileinfo">
				<ul class="agileits_social_list">
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div> -->
		</div>  
		</div>
	</div>
</div>
<!--banner end here-->
{% include 'footer.html'%}